*/__pycache__/*
poetry.lock
poetry.toml

!src/bowdata/sandbox/python_package/*
*.pyc
*.nfs*
*.egg-info
*.csv
*.pyd
*.log
docs/html/*
docs/pdf/*
docs/epub/*
docs/source/_static/exported_notebooks/*html
dist/*
*.doctree
*.envrc
env/*
.tox/*
*/PKG-INFO
*.so
.venv/*
\.venv/
.vagrant/*
.pytest_cache/*
reports/*-py*
.coverage
reports/*
*.c
.idea/*
notebooks/.ipynb_checkpoints/*
test-reports/*
Pipfile
./build/*
build/*
.ipynb_checkpoints/*
*-checkpoint.ipynb
lib/*
wheelhouse/*
frozen_requirements.txt
.vscode/*
mypy
.mypy_cache